# oryx-guests service file
#
# Copyright (C) 2018 Togán Labs
# SPDX-License-Identifier: MIT
#

[Unit]
Description=Auto start and stop enabled oryx guests
After=network.target

[Service]
Type=oneshot
ExecStart=/sbin/oryxcmd autostart_all
RemainAfterExit=true
ExecStop=/sbin/oryxcmd autostop_all
StandardOutput=journal

[Install]
WantedBy=multi-user.target
